@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&family=Rubik&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Graphik', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
}
:root{
    --base-color:#1ce783;
    --background-color:#F5F6F7;
    --logo-green: #1ce783;
    --brand-green: #1ce783;
    --green: #1ce783;
    --green-2: #29a869;
    --green-3: #04cd6a;
    --green4: #29a869;
    --green5: #1ce783;
    --text-link: #176ee1;
    --text-link-2: #176ee1;
    --text-link-3: #176ee1;
    --error-red: #cc000d;
    --error-red-2: #cc000d;
    --error-red-3: #cc000d;
    --white: #fff;
    --text-white: #fff;
    --background-light-grey: #f6f7f8;
    --background-white-2: #e8eaed;
    --accent-grey: #e8eaed;
    --black: #0b0c0f;
    --black-2: #16181d;
    --black-3: #0b0c0f;
    --black-4: #272c34;
    --black-5: #272c34;
    --background-faux-black: #0b0c0f;
    --cta-button-black: #0b0c0f;
    --gray-1: #272c34;
    --gray-3: #e8eaed;
    --gray-5: #6e7a91;
    --gray-6: #16181d;
    --gray-7: #d9dce2;
    --gray-9: #6e7a91;
    --gray-11: #272c34;
    --gray-12: #6e7a91;
    --gray-13: #d9dce2;
    --gray-15: #272c34;
    --gray-14: #c5cad3;
    --gray-16: #16181d;
    --gray-17: #323843;
    --gray-19: #586174;
    --gray-20: #6e7a91;
    --gray-21: #0b0c0f;
    --gray-23: #d9dce2;
    --gray-24: #fff;
    --gray-26: #8b94a7;
    --gray-27: #e8eaed;
    --gray-28: #a8afbd;
    --gray-29: #8b94a7;
    --text-body: #586174;
    --text-contrast-gray: #586174;
    --plan-card-text: #424957;
    --logo-green: #1ce783;
    --brand-green: #1ce783;
    --green: #1ce783;
    --green-2: #29a869;
    --green-3: #04cd6a;
    --green4: #29a869;
    --green5: #1ce783;
    --text-link: #176ee1;
    --text-link-2: #176ee1;
    --text-link-3: #176ee1;
    --error-red: #cc000d;
    --error-red-2: #cc000d;
    --error-red-3: #cc000d;
    --white: #fff;
    --text-white: #fff;
    --background-light-grey: #f6f7f8;
    --background-white-2: #e8eaed;
    --accent-grey: #e8eaed;
    --black: #0b0c0f;
    --black-2: #16181d;
    --black-3: #0b0c0f;
    --black-4: #272c34;
    --black-5: #272c34;
    --background-faux-black: #0b0c0f;
    --cta-button-black: #0b0c0f;
    --gray-1: #272c34;
    --gray-3: #e8eaed;
    --gray-5: #6e7a91;
    --gray-6: #16181d;
    --gray-7: #d9dce2;
    --gray-9: #6e7a91;
    --gray-11: #272c34;
    --gray-12: #6e7a91;
    --gray-13: #d9dce2;
    --gray-15: #272c34;
    --gray-14: #c5cad3;
    --gray-16: #16181d;
    --gray-17: #323843;
    --gray-19: #586174;
    --gray-20: #6e7a91;
    --gray-21: #0b0c0f;
    --gray-23: #d9dce2;
    --gray-24: #fff;
    --gray-26: #8b94a7;
    --gray-27: #e8eaed;
    --gray-28: #a8afbd;
    --gray-29: #8b94a7;
    --text-body: #586174;
    --text-contrast-gray: #586174;
    --plan-card-text: #424957;
}