*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    color: #444;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#main{
  height: 100px;
  width: 100%;
  background-color:#695470;
  box-shadow: 0px 1px 1px 2px #e5e5ee;
}
#main > nav{
  height: inherit;
  width: 90%;
  margin: 0 auto;
}
#main > nav > article{
  height: inherit;
  width: inherit;
  display: flex;
    align-items: center;
    justify-content: start;
}
#main > nav > article > div:nth-child(1){
  flex-basis: 30%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main > nav > article > div:nth-child(1) > img{
  height: 70%;
  width: 70%;
}
#main > nav > article > div:nth-child(2){
  flex-basis: 60%;
}
#main > nav > article > div:nth-child(2) ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#main > nav > article > div:nth-child(2) ul > li{
  flex-basis: 33.33%;
  display: flex;
  justify-content: end;

}
#main > nav > article > div:nth-child(2) ul > li > a{
  text-decoration: none;
  color: #222;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}
#main > div:nth-child(2)
{
  height: 100vh;
  width: 100%;
}
#main > div:nth-child(2) > img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.course_container{
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 20px;
}
.course_container > div{
  flex-basis: 33.33%;
  height: 50%;
}
.course_container > div > img{
  width: 100%;
  height: 100%;
}
.rootComponent{
  height: 200px;
  width: 100%;
  background-color: rgb(240, 154, 42);
}
.GrantParantComponent{
  height: 180px;
  width: 90%;
  margin: 0 auto;
  background-color: aquamarine;

}
.parentComponent{
  height: 150px;
  width: 90%;
  margin: 0 auto;
  background-color: brown;
}
.Child1Component{
  height: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: chocolate;
}
.Child2Component{
  height: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: grey;
}


#emp_container{
  width: 100%;
  height: 160%;
}
#emp_container > table{
  border: 1px solid black;
  border-collapse: collapse;
  

}
tr,td,th{
  border: 1px solid black;
  padding: 10px;
  
}
td{
  text-align: center;
}
td > p{
  text-align: start;
}
#emp_container > table>  tbody> tr > td > img{
   height: 100px;
   width: 100px;
   border-radius: 50%;
}
button{

  background: royalblue;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 25px;
  font-family: cursive;
  font-weight: 500;
  letter-spacing: 1px;
  color: antiquewhite;
  cursor: pointer;
}
/* form */
#admin_page_section {
  width: 100%;
  height: 30vh;

}

#admin_page_section>article {
  width: 80%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#admin_page_section>article>aside {
  width: 55%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

#admin_page_section>article>aside>a {

  text-transform: capitalize;
  text-decoration: none;
  color: #444;
  background: var(--color-2);
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#admin_page_section>article>aside>a:hover {
  background: var(--nav-background);
  color: #fff;
}

/* add user section starts here */
.add_user_section {
  width: 100%;
  height: 100vh;

}

#hidden_input {
  display: none;
}

.service {
  text-align: center;
  color: #001f3f;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

.add_user_section>article {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_user_section>article>form {
  height: inherit;
  width: inherit;
  /* display: flex; */
  flex-wrap: wrap;
  /* gap: 10px; */
}

.add_user_section>article>form>div {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #001f3f;
  /* border-radius: 5px; */
}

.add_user_section>article>form>div>label {
  color: #9df9ef;
  font-size: 20px;
  text-transform: capitalize;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.add_user_section>article>form>div>input {
  padding: 7px 30px;
  outline: none;
  border-radius: 4px;
  background-color:  transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
  /* box-shadow: 1px 1px 1px #fff; */
}

.add_user_section>article>form>div>input::placeholder{
  color: white;
  opacity: 0.5;
}

.add_user_section>article>form>div>input:focus{
  border: white;
  background-color: transparent;
}

.add_user_section>article>form>div>button {
  border: none;
  background: var(--color-2);
  padding: 5px 68px;
  border-radius: 6px;
  font-size: 20px;
  font-family: cursive;
  font-weight: 700;
  color: #f14ab1;
  cursor: pointer;
  margin-top: 20px;

}

.add_user_section>article>form>div>button:hover {
  background: var(--nav-background);
  color: #fd913c;
}

::placeholder {
  font-style: italic;
  text-transform: capitalize;
  color: royalblue;
  letter-spacing: 1px;
}
